In [69]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("covid_19_clean_complete.csv")
df_dataset = pd.DataFrame(dataset)

print(df_dataset.head())

  Province/State Country/Region      Lat      Long     Date  Confirmed  \
0            NaN       Thailand  15.0000  101.0000  1/22/20          2
1            NaN          Japan  36.0000  138.0000  1/22/20          2
2            NaN      Singapore   1.2833  103.8333  1/22/20          0
3            NaN          Nepal  28.1667   84.2500  1/22/20          0
4            NaN       Malaysia   2.5000  112.5000  1/22/20          0

   Deaths  Recovered
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0

In [70]:
null_counts = df_dataset.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)
print(null_counts)

Province/State    9882
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
Deaths               0
Recovered            0
dtype: int64

In [71]:
print(df_dataset.shape)

(18056, 8)

In [72]:
df_dataset = df_dataset.drop(columns="Lat")
df_dataset = df_dataset.drop(columns="Long")

In [76]:
print(df_dataset.dtypes)

Province/State    object
Country/Region    object
Date              object
Confirmed          int64
Deaths             int64
Recovered          int64
dtype: object

In [77]:
df_dataset["Date"] = pd.to_datetime(df_dataset["Date"], format='%m/%d/%y')

In [91]:
print(df_dataset.dtypes)

Province/State            object
Country/Region            object
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
dtype: object

In [92]:
df_dataset["Province/State"] = df_dataset["Province/State"].fillna(df_dataset["Country/Region"])
print(df_dataset.head(30))

           Province/State        Country/Region       Date  Confirmed  Deaths  \
0                Thailand              Thailand 2020-01-22          2       0
1                   Japan                 Japan 2020-01-22          2       0
2               Singapore             Singapore 2020-01-22          0       0
3                   Nepal                 Nepal 2020-01-22          0       0
4                Malaysia              Malaysia 2020-01-22          0       0
5        British Columbia                Canada 2020-01-22          0       0
6         New South Wales             Australia 2020-01-22          0       0
7                Victoria             Australia 2020-01-22          0       0
8              Queensland             Australia 2020-01-22          0       0
9                Cambodia              Cambodia 2020-01-22          0       0
10              Sri Lanka             Sri Lanka 2020-01-22          0       0
11                Germany               Germany 2020-01-22          0       0
12                Finland               Finland 2020-01-22          0       0
13   United Arab Emirates  United Arab Emirates 2020-01-22          0       0
14            Philippines           Philippines 2020-01-22          0       0
15                  India                 India 2020-01-22          0       0
16                  Italy                 Italy 2020-01-22          0       0
17                 Sweden                Sweden 2020-01-22          0       0
18                  Spain                 Spain 2020-01-22          0       0
19        South Australia             Australia 2020-01-22          0       0
20                Belgium               Belgium 2020-01-22          0       0
21                  Egypt                 Egypt 2020-01-22          0       0
22  From Diamond Princess             Australia 2020-01-22          0       0
23                Lebanon               Lebanon 2020-01-22          0       0
24                   Iraq                  Iraq 2020-01-22          0       0
25                   Oman                  Oman 2020-01-22          0       0
26            Afghanistan           Afghanistan 2020-01-22          0       0
27                Bahrain               Bahrain 2020-01-22          0       0
28                 Kuwait                Kuwait 2020-01-22          0       0
29                Algeria               Algeria 2020-01-22          0       0

    Recovered
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0

In [94]:
country = df_dataset.groupby(["Country/Region", "Province/State"])["Date", "Confirmed"].max()
print(country.head(300))

                                    Date  Confirmed
Country/Region Province/State
Afghanistan    Afghanistan    2020-03-22         40
Albania        Albania        2020-03-22         89
Algeria        Algeria        2020-03-22        201
Andorra        Andorra        2020-03-22        113
Angola         Angola         2020-03-22          2
...                                  ...        ...
Uzbekistan     Uzbekistan     2020-03-22         43
Venezuela      Venezuela      2020-03-22         70
Vietnam        Vietnam        2020-03-22        113
Zambia         Zambia         2020-03-22          3
Zimbabwe       Zimbabwe       2020-03-22          3

[296 rows x 2 columns]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [95]:
df_dataset.to_csv("covid_19_clean_complete_clean.csv",index=False)