In [104]:
import pandas

lineListDataset = pandas.read_csv("COVID19_line_list_data.csv")
lineListDataset = lineListDataset.drop(["Unnamed: 3", "Unnamed: 21", "Unnamed: 22", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 26", "summary", "If_onset_approximated", "symptom_onset", "link", "source", "symptom", "hosp_visit_date", "exposure_start", "exposure_end"],axis = 1)
lineListDataset["case_in_country"] = lineListDataset["case_in_country"].fillna(0)
lineListDataset["from Wuhan"] = lineListDataset["from Wuhan"].fillna(0)
lineListDataset["visiting Wuhan"] = lineListDataset["visiting Wuhan"].fillna(0)

In [105]:
lineListDataset

,id,case_in_country,reporting date,location,country,gender,age,visiting Wuhan,from Wuhan,death,recovered
0,1,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,1,0.0,0,0
1,2,0.0,1/20/2020,Shanghai,China,female,56.0,0,1.0,0,0
2,3,0.0,1/21/2020,Zhejiang,China,male,46.0,0,1.0,0,0
3,4,0.0,1/21/2020,Tianjin,China,female,60.0,1,0.0,0,0
4,5,0.0,1/21/2020,Tianjin,China,male,58.0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,Innsbruck,Austria,NaN,24.0,0,0.0,0,0
1081,1082,1.0,2/24/2020,Afghanistan,Afghanistan,NaN,35.0,0,0.0,0,0
1082,1083,1.0,2/26/2020,Algeria,Algeria,male,NaN,0,0.0,0,0
1083,1084,1.0,2/25/2020,Croatia,Croatia,male,NaN,0,0.0,0,0
1084,1085,1.0,2/25/2020,Bern,Switzerland,male,70.0,0,0.0,0,0

In [117]:
from datetime import datetime as dt

var = 0
for tup in lineListDataset["recovered"]:
    if tup is not '0' and tup is not '1':
        print(pandas.to_datetime(tup))
        var += 1

print(var)

2020-02-12 00:00:00
2020-02-12 00:00:00
2020-01-15 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
1899-12-30 00:00:00
2020-02-08 00:00:00
2020-02-14 00:00:00
2020-02-14 00:00:00
2020-02-14 00:00:00
2020-02-04 00:00:00
2020-02-14 00:00:00
2020-02-18 00:00:00
2020-02-05 00:00:00
2020-02-17 00:00:00
2020-02-09 00:00:00
2020-02-18 00:00:00
2020-02-18 00:00:00
2020-02-15 00:00:00
2020-02-27 00:00:00
2020-02-19 00:00:00
2020-02-19 00:00:00
2020-02-20 00:00:00
2020-02-20 00:00:00
2020-02-27 00:00:00
2020-01-17 00:00:00
2020-02-19 00:00:00
2020-02-07 00:00:00
2020-02-21 00:00:00
2020-02-12 00:00:00
2020-02-18 00:00:00
2020-02-20 00:00:00
2020-02-04 00:00:00
2020-02-18 00:00:00
2020-02-23 00:00:00
2020-02-09 00:00:00
2020-02-09 00:00:00
2020-02-12 00:00:00
2020-02-12 00:00:00
2020-02-17 00:00:00
2020-02-17 00:00:00
2020-02-20 00:00:00
2020-02-11 00:00:00
2020-02-22 00:00:00
2020-02-18 00:00:00
2020-02-09 00:00:00
2020-02-21 00:00:00
2020-02-15 00:00:00
2020-02-12 00:00:00
2020-02-09 00:00:00
2020-02-21 00:00:00
2020-02-22 00:00:00
2020-02-12 00:00:00
2020-02-14 00:00:00
2020-02-17 00:00:00
2020-02-19 00:00:00
2020-02-19 00:00:00
2020-02-12 00:00:00
2020-02-11 00:00:00
2020-02-18 00:00:00
2020-02-16 00:00:00
2020-02-12 00:00:00
2020-02-19 00:00:00
2020-02-14 00:00:00
2020-02-24 00:00:00
2020-02-17 00:00:00
2020-02-26 00:00:00
2020-02-21 00:00:00
2020-02-21 00:00:00
2020-02-19 00:00:00
2020-02-26 00:00:00
2020-02-21 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-25 00:00:00
2020-02-21 00:00:00
2020-02-24 00:00:00
2020-02-17 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-26 00:00:00
2020-02-18 00:00:00
2020-02-25 00:00:00
2020-02-25 00:00:00
2020-02-21 00:00:00
2020-02-21 00:00:00
2020-02-24 00:00:00
2020-02-25 00:00:00
2020-02-06 00:00:00
2020-02-04 00:00:00
2020-02-19 00:00:00
2020-02-24 00:00:00
2020-02-19 00:00:00
2020-02-18 00:00:00
2020-02-24 00:00:00
2020-02-18 00:00:00
2020-02-24 00:00:00
2020-02-19 00:00:00
2020-02-19 00:00:00
2020-02-24 00:00:00
2020-02-17 00:00:00
2020-02-27 00:00:00
2020-02-22 00:00:00
2020-02-26 00:00:00
2020-02-26 00:00:00
2020-02-28 00:00:00
2020-02-27 00:00:00
2020-02-06 00:00:00
2020-02-05 00:00:00
2020-02-20 00:00:00
2020-02-06 00:00:00
2020-02-06 00:00:00
2020-02-12 00:00:00
2020-02-04 00:00:00
2020-02-18 00:00:00
2020-02-20 00:00:00
2020-02-20 00:00:00
2020-02-18 00:00:00
2020-02-18 00:00:00
2020-02-20 00:00:00
2020-01-30 00:00:00
2020-02-13 00:00:00
2020-01-30 00:00:00
2020-02-02 00:00:00
2020-01-31 00:00:00
2020-02-19 00:00:00
2020-02-09 00:00:00
2020-02-27 00:00:00
2020-02-16 00:00:00
2020-02-16 00:00:00
2020-02-15 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-15 00:00:00
2020-02-15 00:00:00
2020-02-15 00:00:00
2020-02-15 00:00:00
2020-02-15 00:00:00
2020-02-15 00:00:00
2020-02-08 00:00:00
2020-02-14 00:00:00
2020-02-14 00:00:00
2020-02-19 00:00:00
152